* {
  margin: 0;
}
a {
  text-decoration: none;
  color: #111;
}
body {
  overflow-x: hidden;

  background-color: #323232;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #2a75ff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
